<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="birthday.style.css">
    <title>Birthday Emailer</title>

</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <h1>🎉 Birthday Emailer</h1>

            <form class="birthday-form">
                <h3>Please input your details for yearly birthday wishes</h3>

                <input type="text" class="username" placeholder="Enter your username" required />

                <input type="email" class="email" placeholder="Enter a valid email" required />

                <input type="date" class="birthday" required />

                <button type="submit">Be Celebrated 🎂</button>
            </form>

            <p class="caution">
                NOTE: This is an unpaid prototype, so emails may arrive in spam for now.
            </p>
        </div>
    </div>
</body>

<script src="birthday.js"></script>

</html>